/*
text6 → Onyx (#3B3B3B)
text7 → Flame (#EE5815)
text1 → Radical Red (#F73466)
text2 → Vivid Blue (#1D69E2)
text3 → Sunset Sienna (#FB7F64)
text4 → Forest Green (#53ac69)
box3 → Creamy Cashmere (#F5EEE2)
box2 → Pumpkin (#f27013)
Ultramarine Blue (#4F4CF7)
*/

p {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}
body {
  color: #3B3B3B; /*Onyx*/
  background-color: #f27013;/*pumpkin*/
    font-size: 16px;   /* default, good */
    line-height: 1.6;  /* critical for mobile */
}
h1 {color: #F73466/* Radical Red */}
h2 {color: #53ac69/* Forest Green*/}
h3 {color: #994058/*Rosewood*/}
h4 {color: #FB7F64/*Sunset Sienna*/}
h5 {color: #38855d/*Medium Sea Green*/}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5em;    /* space above */
    margin-bottom: 0.25em; /* space below */
}
a:active {color: #1D69E2/*Vivid Blue*/}
a:visited {color: #4F4CF7/* Ultramarine Blue*/}

.alt {
  font-size: 14px;
  color: #FB7F64;//Sunset Sienna
  font-style: italic;
  margin-top: 0.25rem;  /* controls gap */
  line-height: 1.3;     /* tighter caption */
}
.background {background-color: #f27013;/*pumpkin*/}
.center{
    display: block;
    margin-left: auto;
    margin-right:auto;
    width:100%;
    box-sizing: border-box;
    max-width: 40em;
    background-color: #F5EEE2; /*Creamy Cashmere*/
    border-radius: 8px;
    text-align: left;
    color: black;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    padding: 0.5rem 1rem;
}
.center > :first-child {
    margin-top: 0;
}
.center > :last-child {
    margin-bottom: 0;
}
.center img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

@media (max-width: 480px) {
    .center {
        border-radius: 0;
        padding: 0.75rem;
 
    }
}
.tbl {
  border-collapse: collapse; /* IMPORTANT */
}

.tbl,
.tbl th,
.tbl td {
  border: 1px solid black;
}
.three-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}



.full-width-table {
    width: 100%;          /* table fills the div width */
    table-layout: fixed;  /* forces columns to evenly distribute */
    border-collapse: collapse;
}

.full-width-table td {
    border: 1px solid black;
    text-align: center;   /* optional: center text in each cell */
    padding: 0.5rem;
}


/* link button */

.link-btn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 6px 15px 6px 5px;
  border: 1;
  border-color: gray;
  border-radius: 40px;
  background-color: #C3C3C3;
  color: #4b4546 ;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.link-btn img {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  transition: background-color 0.2s ease;
}

.link-btn:hover {
  background-color: #eee9d2;
  
}

.link-btn:active {
  background-color: #ffe471;
}
